In [1]:
import sys
import os

# Insert data and src  into PATH
MAIN_DIR = os.path.split(os.path.abspath(os.getcwd()))[0]
SRC_DIR = os.path.join(MAIN_DIR, 'src')
sys.path.insert(1, MAIN_DIR)

# Roy Billinton Test System Feeder Network

![Roy Billinton Single Line Diagram](../data/roy_billinton_feeder_single_line_diagram.png)
![Roy Billinton Extended](../data/roy_billinton_feeder_diagram_extended.png)

In [2]:
import pandapower as pp
import pandas as pd

RBTS_FILEPATH = os.path.join(MAIN_DIR,'data/rbts-feeder.xlsx')

net = pp.create_empty_network()

# System voltage = 230 kV
# Base 230kV/100MVA
# System Peak Load = 185 MW
# System Gen Capacity = 240 MW
# Bus limits 0.97pu < Bus Limits < 1.05pu

# Import Data
buses_df = pd.read_excel(RBTS_FILEPATH, sheet_name='buses')
lines_df = pd.merge(pd.read_excel(RBTS_FILEPATH, sheet_name='lines'), \
                    pd.read_excel(RBTS_FILEPATH, sheet_name='lines_impedance_current_rating'), \
                   on=['line_no'])
switches_df = pd.read_excel(RBTS_FILEPATH, sheet_name='switches')
loads_df = pd.read_excel(RBTS_FILEPATH, sheet_name='loads_sector_allocation')
gens_df = pd.merge(pd.read_excel(RBTS_FILEPATH, sheet_name='gens'), \
                    pd.read_excel(RBTS_FILEPATH, sheet_name='gen_unit_mvar_capacities'), \
                   on=['unit_size_mw'])
df = pd.read_excel(RBTS_FILEPATH, sheet_name='gen_cost')
df1 = df[~df.gen_no1.isnull()].rename(columns={'gen_no1':'gen_no'}).drop(columns=['gen_no2'])
df2 = df[~df.gen_no2.isnull()].rename(columns={'gen_no2':'gen_no'}).drop(columns=['gen_no1'])

gens_df = pd.merge(gens_df, df1.append(df2).drop(columns=['type', 'unit_size_mw']), on=['gen_no'])

In [3]:
# Buses
for _, bus in buses_df.iterrows():
    pp.create_bus(net, name=bus.bus_name, type=bus.type, zone=bus.zone, vn_kv=bus.vn_kv, \
                  min_vm_pu=bus.min_vm_pu, max_vm_pu=bus.max_vm_pu, in_service=bus.in_service)
        
buslist = list(switches_df[switches_df["element"].str.contains("Bus")].element.unique()) \
        + list(switches_df[switches_df["to_bus"].str.contains("Bus")].to_bus.unique()) \
        + list(gens_df[gens_df["bus_no"].str.contains("Bus")].bus_no.unique())
buslist = sorted(list(set(buslist)))

for bus in buslist:
    zone = bus.split('.',1)[0]
    pp.create_bus(net, name=bus, type='n', vn_kv=230, min_vm_pu=0.97, max_vm_pu=1.05, zone=zone, in_service=True)
    
net.bus

           name  vn_kv type  zone  in_service  min_vm_pu  max_vm_pu
0          Bus1  230.0    b  Bus1        True       0.97       1.05
1          Bus2  230.0    b  Bus2        True       0.97       1.05
2          Bus3  230.0    b  Bus3        True       0.97       1.05
3          Bus4  230.0    b  Bus4        True       0.97       1.05
4          Bus5  230.0    b  Bus5        True       0.97       1.05
5          Bus6  230.0    b  Bus6        True       0.97       1.05
6        Bus1.1  230.0    n  Bus1        True       0.97       1.05
7        Bus1.2  230.0    n  Bus1        True       0.97       1.05
8        Bus1.3  230.0    n  Bus1        True       0.97       1.05
9        Bus1.4  230.0    n  Bus1        True       0.97       1.05
10       Bus1.5  230.0    n  Bus1        True       0.97       1.05
11       Bus1.6  230.0    n  Bus1        True       0.97       1.05
12       Bus1.7  230.0    n  Bus1        True       0.97       1.05
13      Bus1.G1  230.0    n  Bus1        True       0.97       1.05
14      Bus1.G2  230.0    n  Bus1        True       0.97       1.05
15      Bus1.G3  230.0    n  Bus1        True       0.97       1.05
16      Bus1.G4  230.0    n  Bus1        True       0.97       1.05
17       Bus2.1  230.0    n  Bus2        True       0.97       1.05
18       Bus2.2  230.0    n  Bus2        True       0.97       1.05
19       Bus2.3  230.0    n  Bus2        True       0.97       1.05
20       Bus2.4  230.0    n  Bus2        True       0.97       1.05
21       Bus2.5  230.0    n  Bus2        True       0.97       1.05
22       Bus2.6  230.0    n  Bus2        True       0.97       1.05
23       Bus2.7  230.0    n  Bus2        True       0.97       1.05
24       Bus2.8  230.0    n  Bus2        True       0.97       1.05
25       Bus2.9  230.0    n  Bus2        True       0.97       1.05
26  Bus2.G10-11  230.0    n  Bus2        True       0.97       1.05
27      Bus2.G5  230.0    n  Bus2        True       0.97       1.05
28      Bus2.G6  230.0    n  Bus2        True       0.97       1.05
29      Bus2.G7  230.0    n  Bus2        True       0.97       1.05
30    Bus2.G8-9  230.0    n  Bus2        True       0.97       1.05
31       Bus3.1  230.0    n  Bus3        True       0.97       1.05
32       Bus3.2  230.0    n  Bus3        True       0.97       1.05
33       Bus3.3  230.0    n  Bus3        True       0.97       1.05
34       Bus3.4  230.0    n  Bus3        True       0.97       1.05
35       Bus3.5  230.0    n  Bus3        True       0.97       1.05
36       Bus4.1  230.0    n  Bus4        True       0.97       1.05
37       Bus4.2  230.0    n  Bus4        True       0.97       1.05
38       Bus4.3  230.0    n  Bus4        True       0.97       1.05
39       Bus4.4  230.0    n  Bus4        True       0.97       1.05
40       Bus4.5  230.0    n  Bus4        True       0.97       1.05
41       Bus5.1  230.0    n  Bus5        True       0.97       1.05
42       Bus5.2  230.0    n  Bus5        True       0.97       1.05
43       Bus5.3  230.0    n  Bus5        True       0.97       1.05
44       Bus5.4  230.0    n  Bus5        True       0.97       1.05
45       Bus6.1  230.0    n  Bus6        True       0.97       1.05
46       Bus6.2  230.0    n  Bus6        True       0.97       1.05

In [4]:
# Lines
for _, line in lines_df.iterrows():
    from_bus = pp.get_element_index(net, "bus", line.from_bus)
    to_bus = pp.get_element_index(net, "bus", line.to_bus)
    pp.create_line_from_parameters(net, from_bus, to_bus, line.length_km, \
                                   r_ohm_per_km=line.r_ohm_pu, \
                                   x_ohm_per_km=line.x_ohm_pu, \
                                   c_nf_per_km=line.B_2_pu, \
                                   max_i_ka=line.current_rating_pu, \
                                   max_loading_percent=100, \
                                   name=line.line_no, \
                                   type=line.type, \
                                   in_service=True)
net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service,max_loading_percent
0,L1,None,10,34,75.0,0.0342,0.18,0.0106,0.0,0.85,1.0,1,ol,True,100.0
1,L2,None,18,37,250.0,0.1140,0.60,0.0352,0.0,0.71,1.0,1,ol,True,100.0
2,L3,None,12,20,200.0,0.0912,0.48,0.0282,0.0,0.71,1.0,1,ol,True,100.0
3,L4,None,35,40,50.0,0.0228,0.12,0.0071,0.0,0.71,1.0,1,ol,True,100.0
4,L5,None,31,42,50.0,0.0028,0.12,0.0071,0.0,0.71,1.0,1,ol,True,100.0
5,L6,None,7,32,75.0,0.0342,0.18,0.0106,0.0,0.85,1.0,1,ol,True,100.0
6,L7,None,22,39,250.0,0.1140,0.60,0.0352,0.0,0.71,1.0,1,ol,True,100.0
7,L8,None,36,44,50.0,0.0228,0.12,0.0071,0.0,0.71,1.0,1,ol,True,100.0
8,L9,None,43,45,50.0,0.0028,0.12,0.0071,0.0,0.71,1.0,1,ol,True,100.0

In [5]:
# Switches
for _, switch in switches_df.iterrows():
    bus_idx = pp.get_element_index(net, "bus", switch.to_bus)
    element_idx = None
    
    if switch.et == 'l':
        element_type = "line"
        
        # Create bus-bus switch
        from_bus_idx = pp.get_element_index(net, "bus", switch.to_bus.split(".")[0])
        to_bus_idx = pp.get_element_index(net, "bus", switch.to_bus)
        sw_idx = pp.create_switch(net, from_bus_idx, to_bus_idx, \
                         name="Switchbus[%s - %s]" % (net.bus.name.at[from_bus_idx], net.bus.name.at[to_bus_idx]),\
                         et='b', closed=True, type='DS')
    elif switch.et == 'b':
        element_type = "bus"
        
    element_idx = pp.get_element_index(net, element_type, switch.element)
    pp.create_switch(net, bus_idx, element_idx, name=switch.sw_name, et=switch.et, closed=switch.closed, type=switch.type)

net.switch

    bus  element et type  closed                      name  z_ohm
0     6       13  b   DS    True                  G1 DS1.1    0.0
1     0        7  b   DS    True  Switchbus[Bus1 - Bus1.2]    0.0
2     7        5  l  LBS    True                  L6 DS1.2    0.0
3     0       10  b   DS    True  Switchbus[Bus1 - Bus1.5]    0.0
4    10        0  l  LBS    True                  L1 DS1.3    0.0
..  ...      ... ..  ...     ...                       ...    ...
67   41       44  b   CB    True                     CB5.4    0.0
68    5       45  b   DS    True  Switchbus[Bus6 - Bus6.1]    0.0
69   45        8  l  LBS    True                  L9 DS6.1    0.0
70   46       45  b   CB    True                     CB6.1    0.0
71   45       46  b   CB    True                     CB6.2    0.0

[72 rows x 7 columns]

In [6]:
# Loads

for _, load in loads_df.iterrows():
    zone = load.bus_no.split('.',1)[0]
    load_name="Load %sMW %s" % (load.load_mw, zone)
    hv_bus_idx = pp.get_element_index(net, "bus", load.bus_no)
    lv_bus_idx = pp.create_bus(net, name="Bus "+load_name, type='n', vn_kv=230, min_vm_pu=0.97, max_vm_pu=1.05, zone=zone, in_service=True)
    trafo_idx = pp.create_transformer_from_parameters(net, \
                                hv_bus=hv_bus_idx, \
                                lv_bus=lv_bus_idx,\
                                   sn_mva=100, vn_hv_kv=230, vn_lv_kv=110, vkr_percent=0.26, \
                                      vk_percent=12, pfe_kw=55.0, i0_percent=0.06, tp_pos=0, shift_degree=0, name='Trafo %s'%(load_name))
    pp.create_switch(net, hv_bus_idx, trafo_idx, name="Switch HV Trafo %s"%(load_name), et='t', closed=switch.closed, type='LBS')
    pp.create_switch(net, lv_bus_idx, trafo_idx, name="Switch LV Trafo %s"%(load_name), et='t', closed=switch.closed, type='LBS')
    pp.create_load(net, name=load_name, bus=lv_bus_idx,\
                               p_mw=load.load_mw, q_mvar=0.2*load.load_mw,
                               sn_mva=100,\
                               type=load.customer_types, in_service=True, controllable=False)

net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type,controllable
0,Load 20MW Bus2,47,20.0,4.0,0.0,0.0,100.0,1.0,True,"industrial,government,residential,commercial",False
1,Load 85MW Bus3,48,85.0,17.0,0.0,0.0,100.0,1.0,True,"large users,industrial,government,residential,...",False
2,Load 40MW Bus4,49,40.0,8.0,0.0,0.0,100.0,1.0,True,"industrial,residential,commercial",False
3,Load 20MW Bus5,50,20.0,4.0,0.0,0.0,100.0,1.0,True,"government,office,residential,commercial",False
4,Load 20MW Bus6,51,20.0,4.0,0.0,0.0,100.0,1.0,True,"industrial,agriculture,residential,commercial",False

In [7]:
# Generators
for _, gen in gens_df.iterrows():
    gen_idx = pp.create_gen(net, pp.get_element_index(net, "bus", gen.bus_no), \
                  vm_pu=1.03, p_mw=gen.unit_size_mw, min_p_mw=0, max_p_mw=gen.unit_size_mw*1.2, min_q_mvar=gen.mvar_minimum, max_q_mvar=gen.mvar_maximum, \
                  type=gen.type, name=gen.gen_no, slack=gen.slack, controllable=True)
    pp.create_poly_cost(net, gen_idx, 'gen', cp1_eur_per_mw=-gen.total_var_cost)
    
net.gen

,name,bus,p_mw,vm_pu,sn_mva,min_q_mvar,max_q_mvar,scaling,slack,in_service,type,min_p_mw,max_p_mw,controllable
0,G1,13,40.0,1.03,NaN,-15.0,17.0,1.0,False,True,Thermal,0.0,48.0,True
1,G2,14,40.0,1.03,NaN,-15.0,17.0,1.0,True,True,Thermal,0.0,48.0,True
2,G7,29,40.0,1.03,NaN,-15.0,17.0,1.0,False,True,Hydro,0.0,48.0,True
3,G3,15,10.0,1.03,NaN,0.0,7.0,1.0,False,True,Thermal – Gas,0.0,12.0,True
4,G4,16,20.0,1.03,NaN,-7.0,12.0,1.0,False,True,Thermal,0.0,24.0,True
5,G8,30,20.0,1.03,NaN,-7.0,12.0,1.0,False,True,Hydro,0.0,24.0,True
6,G9,30,20.0,1.03,NaN,-7.0,12.0,1.0,False,True,Hydro,0.0,24.0,True
7,G10,26,20.0,1.03,NaN,-7.0,12.0,1.0,False,True,Hydro,0.0,24.0,True
8,G11,26,20.0,1.03,NaN,-7.0,12.0,1.0,False,True,Hydro,0.0,24.0,True
9,G5,27,5.0,1.03,NaN,0.0,5.0,1.0,False,True,Hydro,0.0,6.0,True
10,G6,28,5.0,1.03,NaN,0.0,5.0,1.0,False,True,Hydro,0.0,6.0,True

In [8]:
from julia.api import Julia
jl = Julia(compiled_modules=False)
from julia.PowerModels import run_ac_opf
pp.runpm_ac_opf(net)

KeyError: 'Julia exception: KeyError: key :switch not found\nStacktrace:\n [1] getindex(::Dict{Symbol,Any}, ::Symbol) at ./dict.jl:478\n [2] _ref_add_core!(::Dict{Int64,Any}) at /home/robbie/.julia/packages/PowerModels/r4zbR/src/core/base.jl:287\n [3] ref_add_core!(::ACPPowerModel) at /home/robbie/.julia/packages/PowerModels/r4zbR/src/core/base.jl:268\n [4] #build_model#194(::Array{Any,1}, ::Bool, ::Bool, ::Base.Iterators.Pairs{Symbol,Dict{String,Dict{String,Bool}},Tuple{Symbol},NamedTuple{(:setting,),Tuple{Dict{String,Dict{String,Bool}}}}}, ::Function, ::Dict{String,Any}, ::Type, ::typeof(post_opf)) at /home/robbie/.julia/packages/PowerModels/r4zbR/src/core/base.jl:197\n [5] #build_model at ./none:0 [inlined]\n [6] #run_model#192 at /home/robbie/.julia/packages/PowerModels/r4zbR/src/core/base.jl:164 [inlined]\n [7] #run_model at ./none:0 [inlined]\n [8] #run_opf#711 at /home/robbie/.julia/packages/PowerModels/r4zbR/src/prob/opf.jl:13 [inlined]\n [9] #run_opf at ./none:0 [inlined]\n [10] #run_ac_opf#709 at /home/robbie/.julia/packages/PowerModels/r4zbR/src/prob/opf.jl:3 [inlined]\n [11] (::getfield(PowerModels, Symbol("#kw##run_ac_opf")))(::NamedTuple{(:setting,),Tuple{Dict{String,Dict{String,Bool}}}}, ::typeof(run_ac_opf), ::Dict{String,Any}, ::OptimizerFactory) at ./none:0\n [12] run_powermodels(::String) at /home/robbie/anaconda3/envs/psa/lib/python3.7/site-packages/pandapower/opf/run_powermodels_ac.jl:10\n [13] #invokelatest#1(::Base.Iterators.Pairs{Union{},Union{},Tuple{},NamedTuple{(),Tuple{}}}, ::Function, ::Any, ::Any, ::Vararg{Any,N} where N) at ./essentials.jl:697\n [14] invokelatest(::Any, ::Any, ::Vararg{Any,N} where N) at ./essentials.jl:696\n [15] _pyjlwrap_call(::Function, ::Ptr{PyCall.PyObject_struct}, ::Ptr{PyCall.PyObject_struct}) at /home/robbie/.julia/packages/PyCall/ttONZ/src/callback.jl:28\n [16] pyjlwrap_call(::Ptr{PyCall.PyObject_struct}, ::Ptr{PyCall.PyObject_struct}, ::Ptr{PyCall.PyObject_struct}) at /home/robbie/.julia/packages/PyCall/ttONZ/src/callback.jl:49'

In [ ]:
import pandapower.topology as top

In [ ]:
net.bus